@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,800;1,300;1,600;1,800&display=swap');
*{
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
}

nav {
	text-align: center;
	background: linear-gradient(#467854, #336348);
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding: 15px 30px;
}

li a {
	padding: 3px 20px 3px;
	text-decoration: none;
	color: white;
	font-weight: 600;
}

li a:hover {
	border-radius: 5px;
	background-color: white;
	color: #336348;
	font-weight: 800;
}

article#steamed-dimsum {
	background: url('img/bg-dimsum-crystal.jpg');
	background-size: cover;
	height: 562px;
	display: flex;
	align-items: center;
}

#steamed-dimsum p, h1, #bbq p, h1 {
	margin: 0;
}

.content-steamed-dimsum {
	position: relative;
	text-align: center;
	width: 45%;
	color: #336348;
	left: 100px;
}

p.description-category {
	padding: 30px 0px;
	text-align: left;
}

a.button-menu-lainnya {
	text-decoration: none;
	color: #336348;
	font-weight: 800;
	border: 2px solid #336348;
	border-radius: 5px;
	padding: 5px 10px;
}

.content-bbq a:hover, .content-steamed-dimsum a:hover {
	background-color: #336348;
	color: white;
}

article#bbq {
	background: url('img/bg-ayam-bakar.jpg');
	background-size: cover;
	height: 562px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.content-bbq {
	position: relative;
	text-align: center;
	width: 38%;
	color: #336348;
	right: 100px;
}

#menu-category {
	background: radial-gradient(circle at top left, #467854, #336348);
}

#menu-category h1 {
	text-align: center;
	color: white;
	padding-top: 20px;
}

.container-menu-category {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.container-menu-category p {
	margin: 0;
	padding: 5px 0px 9px;
}

.container-menu-category img {
	width: 380px;
}

.link-menu-category {
	margin: 15px;
	background-color: #336348;
}

.link-menu-category a {
	text-decoration: none;
	color: white;
}

.link-menu-category a:hover {
	font-weight: 800;
	color: white;
}

#about-us {
	background: url('img/buah-campur.jpg');
	height: 562px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.info-about-us {
	margin-right: 100px;
	color: #336348;
}

.info-about-us a {
	text-decoration: none;
	color: #336348;
	font-weight: 800;
}

.info-about-us p {
	margin: 0;
}
